<!-- Main Footer Start here -->
<div class="footer">

    <!-- Footer top start -->
    <div class="top">                

        <!-- Footer Row start -->
        <div class="row">

            <ul class="col-sm-12">

                <li class="col-sm-4">

                    <h4>ABOUT STORE</h4>

                    <p>
                        <a href="#">Home</a>
                    </p>

                    <p>
                        <a href="#">Delivery Information</a>
                    </p>

                    <p>
                        <a href="#">Privacy Policy</a>
                    </p>

                </li>

                <li class="col-sm-4">

                    <h4>STORE ADDRESS</h4>

                    <p><span></span>907 Fifth Avenue, 09th floor,
                    Rainbow Centre</p>
                    <p><span></span>+44 203 723 2507</p>
                    <p><span></span>sales@jesyevents.com</p>
                    <p><span></span>enquires@jesyevents.com</p>
                    <p><span></span>info@jesyevents.com</p>

                </li>

                <li class="col-sm-4">

                    <h4>CUSTOMER SERVICE</h4>

                    <p>
                        <a href="#">Site Map</a>
                    </p>

                    <p>
                        <a href="#">Contact Us</a>
                    </p>

                    <p>
                        <a href="#">Delivery</a>
                    </p>

                    <p>
                        <a href="#">Returns</a>
                    </p>

                </li>

            </ul>

        </div>  <!-- Footer Row end -->

    </div>  <!-- Footer Top end -->

    <!-- Footer Bottom start -->
    <div class="bottom">

        <div class="row">

            <div class="copyRight col-sm-8">

                <p>Copyright &copy; 2016 Jesyevents by <span style="color: goldenrod;">Wedeybuild.</span> All Rights Reserved.</p>

            </div>

            <div class="col-sm-4">

            </div>

        </div>

    </div>

</div> <!-- Main Footer End here -->