<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en">
    <head>
        <title>Cima Events</title>
        <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="author" content="Michael Agadama">
	<meta name="description" content="Cima Event - Events Supply and Management Service.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">        
        <link rel="icon" type="image/png" href="{echo DIR_PATH}/resources/images/favicon.png" />
	<link rel="apple-touch-icon" href="{echo DIR_PATH}/resources/images/favicon.png">
        <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

	<!--[if lte IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->


        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        
        <!-- Google Fonts API -->
        <link href="//fonts.googleapis.com/css?family=Roboto:400,500,700,300" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,500,600,700" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Playball" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet" type="text/css">
        
        <link rel="stylesheet" href="{echo DIR_PATH}/resources/styles/style.css" />
        <script src="{echo DIR_PATH}/resources/scripts/script.js"></script>
    </head>

    <body>
        
        <!-- The Main Container Start here -->
        <div class="mainContainer">


            <div class="row" style="margin: 50px 0 0 0; padding: 0px;">
                <div class="container" style="padding: 0px;">
                    <a href="{echo DIR_PATH}/admins" class="btn btn-default">Dashboard</a>
                    <a href="{echo DIR_PATH}/admins/catalog" class="btn btn-primary">Catalog</a>
                    <a href="{echo DIR_PATH}/admins/product" class="btn btn-success">Products</a>
                    <a href="{echo DIR_PATH}/admins/service" class="btn btn-success">Services</a>
                    <a href="{echo DIR_PATH}/admins/sale" class="btn btn-info">Sale</a>
                    <a href="{echo DIR_PATH}/admins/payment" class="btn btn-warning">Payment</a>
                    <a href="{echo DIR_PATH}/admins/gallery" class="btn btn-default">Gallery</a>
                    <a href="{echo DIR_PATH}/admins/setting" class="btn btn-danger">Setting</a>
                    <a href="{echo DIR_PATH}/admins/logout" class="btn btn-link">logout</a>
                </div>
            </div>
            
           