

<!-- Content Start now -->
<div class="content" style="margin: 0 0 100px 0; min-height: 400px; width: 100%;">

    <div class="row pannel">

        <div class="col-sm-12">
            <div class="alert alert-success">
                <h1><strong>Order Completed!</strong></h1>
            </div>
        </div>

        <div class="col-sm-12" style="padding: 30px 0 0 0;">

            <div class="col-sm-12" style="margin: 0 0 50px 0;">
                   
                <div class="col-sm-8">
                    
                    <div class="panel panel-danger">
                        <div class="panel-heading">Thanks for Shopping us.</div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-success">1. Confirmation email will be sent to you shortly.</li>
                                <li class="list-group-item list-group-item-info">2. You will receive a Dispatched Notice soon. </li>
                                <li class="list-group-item list-group-item-warning">3. Have any question? Please <a href="">contact us.</a></li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
                
            </div>
            
        </div>

    </div>


</div>  <!-- Content End here -->
        
