		
		<div data-role="header" >
			<a href="#" data-rel="back" class="ui-nodisc-icon ui-btn ui-icon-carat-l ui-btn-icon-notext">Back</a>
			<h1>AHLO!</h1>
			<a href="#friends" data-rel="popup" class="ui-nodisc-icon ui-btn ui-icon-user ui-btn-icon-notext">Friends</a>
		</div>
				
		<div data-role="popup" id="friends" data-corners="false">
			
			<ul data-role="listview">
				
				<li>
					Online Friends 
				</li>
				
				<li>
					<a href="#" data-corners="false" >Bisi</a>
				</li>
				
				<li>
					<a href="#" data-corners="false" >Peter</a>
				</li>
				
			</ul>
			
		</div>

    	<div id="dashboard" data-role="main" class="ui-content">
		    
			<div id="screen">
				
			</div>

			<div id="screenBtn">
					
				<div class="center">
						
					<div class="left">
						<input type="text" name="chat" data-corners="false" autofocus=""/>
					</div>
					
					<div class="right">
						<input type="submit" value="Send" data-corners="false"/>
					</div>
					
				</div>
				
			</div>

    	</div>