		
		<div data-role="header" >
			<a href="#" data-rel="back" class="ui-nodisc-icon ui-btn ui-icon-carat-l ui-btn-icon-notext">Back</a>
			<h1>AHLO!</h1>
			<a data-ajax="false" href="{echo DIR_PATH}/dashboard" class="ui-nodisc-icon ui-btn ui-icon-home ui-btn-icon-notext">Home</a>
			
		</div>	
		

    	<div data-role="main" class="ui-content">
		    		
		    <ul data-role="listview">
		    	
		    	<li>
		    		{count Users} live Users in City
		    	</li>
		    
		    	<li>
		    		<a href="{echo DIR_PATH}/messenger/dashboard/username">
		    			<img src="{echo DIR_PATH}/images/chrome.png" />
		        		<h2>Username</h2>
		    			<p>Gender, Age, Intro</p>
		    		</a>
		    	</li>
		    	   	
		    </ul>

    	</div>