/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-Jun-2014, 12:51:21
    Author     : michael
*/

@-ms-viewport{
	width: device-width;
}

.{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	-webkit-font-smoothing: antialiased !important;
}

body {
	background: #aaa;
	max-width: 300px;
	color: #666;
	//font: normal normal normal 16px/1.2em Signika, sans-serif;
}

.row{
	display: table;
	width: 100%;
	//border:  solid 1px #ccc;
}

.ui-content{
	max-width: 600px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
}

.ui-input-text .no-wrapper{
	border: none;
	box-shadow: none;
}

.columns{
    float: left;
    margin: 0;
    padding: 0;
}

.columns.halve     {  width:  3.125%   }
.columns.one       {  width:  6.25%    }
.columns.onehalve   {  width:  9.375%    }
.columns.two       {  width:  12.5%    }
.columns.three     {  width:  18.75%   }
.columns.four      {  width:  25%      }
.columns.five      {  width:  31.25%   }
.columns.six       {  width:  37.5%    }
.columns.seven     {  width:  43.75%   }
.columns.eight     {  width:  50%      }
.columns.nine      {  width:  56.25%   }
.columns.ten       {  width:  62.5%    }
.columns.eleven    {  width:  68.75%   }
.columns.twelve    {  width:  75%      }
.columns.thirteen  {  width:  81.25%   }
.columns.fourteen  {  width:  87.5%    }
.columns.fourteenhalve  {   width:  90.625%    }
.columns.fifteen   {  width:  93.75%   }
.columns.sixteen   {  width:  100%     }

#footer h3{
	font-size: 12px;
}

[data-role=page]{
	//height: 100% !important;
	//width: 100% !important;
	//position: relative !important;
}

[data-role=footer]{
	bottom: 0;
	position: absolute !important;
	top: auto !important;
	width: 100%;
}


/********************
 * 
 * LOGIN
 * 
 * *****************/

#login{

}


#login .info{
	color: #666;
	width: 100%;
	height: 50px;
	//border: solid 1px #aaa;
	text-align: center;
	font: normal normal normal 16px/1.2em Signika, sans-serif;
}


#login p{
	color: #666;
	font: normal normal normal 16px/1.2em Signika, sans-serif;
	//border: solid 1px #999;
}

#loginForm,
#registerForm{
	display: table;
	width: 100%;
	margin: 0 0 30px 0;
	//border: solid 1px #aaa;
}

#loginForm ul,
#registerForm ul{
	display: table-row;
	//border: solid 1px #aaa;
}

#loginForm ul li,
#registerForm ul li{
	display: block;
}

#loginForm ul li:last-child,
#registerForm ul li:last-child{
	//border: solid 1px black;
	margin: 30px 0 0 0;
}

#loginForm ul li label,
#registerForm ul li label{
	color: #666;
	font: normal normal normal 15px/1.2em Signika, sans-serif;
}

#login .registerBtn,
#register .loginBtn,
#dashboard .exitBtn,
#chat .backBtn{
	width: 100%;
	//border: solid 1px #aaa;
	margin: 0 auto;
}


/**********************
 * 
 * REGISTER
 * 
 * ********************/


/***********************
 * 
 * FRIENDS
 * 
 * ********************/
#friends .content{
	min-height: 300px;
}

#friends .content ul{
	display: table;
	width: 100%;
	padding: 0px;
}

#friends .content ul li{
	display: table;
	width: 100%;
	//overflow: hidden;
	border: none;
}

#friends .content ul .ui-filterable{
	padding: 0 5px 0 5px;
}

/*******************************
 *
 * SETTINGS @ PROFILE
 * 
 *  ****************************/

#settings{
	margin: 0 auto;
	padding: 30px 10px 30px 10px;
	//border: solid 1px #aaa;
}

#settings #profileForm,
#settings #accountForm{
	display: table;
	//border: solid 1px #aaa;
	background: #fff;
	width: 100%;
}

#settings #profileForm ul,
#settings #accountForm ul{
	display: table;
	width: 95%;
	margin: 40px auto;
	padding: 0px;
	//border: solid 1px #1B1D4F;
}

#settings #profileForm ul li,
#settings #accountForm ul li{
	display: block;
	width: 100%;
	//border: solid 1px #aaa;
	padding: 20px 0 0 0;
	color: #666;
	font: normal normal normal 16px/1.2em Signika, sans-serif;
}

#settings #profileForm ul li:last-child,
#settings #accountForm ul li:last-child{
	margin: 30px 0 0 0;
}


/***************************
 *
 * Profile
 * 
 *  ***********************/

#profile .row ul{
	display: table;
	width: 100%;
	//border: solid 1px #aaa;
	padding: 0px;
	margin: 0 auto;
}

#profile .row ul li{
	display: table;
	width: 100%;
	//border: solid 1px #aaa;
	margin: 0 0 20px 0;
}

#profile #profilePhoto{
	//display: table;
	//height: 200px;
	//width: 100%;
	//margin: 0 auto;
	//border: solid 1px #aaa;
	//background: #fff;
}

#profile #profilePhoto .defaultImg{
	display: block;
	width: 128px;
	height: 128px;
	margin: 30px auto;
	//border: solid 1px #aaa;
}

#profile #ahlo{
	display: table;
	width: 100%;
	background: #fff;
}

#profile #ahlo form{
	display: table;
	width: 100%;
}

#profile #ahlo form .left{
	display: table;
	width: 70%;
	float: left;
}

#profile #ahlo form .left input{
	height: 43px;
}

#profile #ahlo form .right{
	display: table;
	width: 30%;
	float: right;
}

#profile #profileInfo{
	display: table;
	//height: 100px;
	width: 100%;
	//border: solid 1px #aaa;
	background: #fff;
	overflow: hidden;
}

#profile #profileInfo .left{
	display: table;
	float: left;
	width: 65%;
	overflow: hidden;
}

#profile #profileInfo .left ul li h3{
	color: #666;
	font: normal normal normal 15px/1.2em Signika, sans-serif;
}

/*#ee850e #784e99*/

#profile #profileInfo .right{
	display: table;
	float: right;
	width: 35%;
	height: 130.5px;
	background: #eee;
	text-align: center;
	
}

#profile #profileInfo .right h1{
	color: #666;
	font: normal normal normal 60px/1.2em Signika, sans-serif;
	//border: solid 1px #aaa;
	margin: 0px;
}

#profile #profileInfo .right p{
	color: #666;
	font: normal normal normal 15px/1.2em Signika, sans-serif;
}
#profile #profileInfo ul li{
	//border: solid 1px #aaa;
	margin: 0px;
}

#profile #calender{
	display: table;
	width: 100%;
	margin: 0 auto;
	//height: 100px;
	background: #fff;
}

#profile #calender .left{
	display: table;
	float: left;
	width: 40%;
	background: #ccc;
}

#profile #calender .left ul li{
	margin: 0px;
	text-align: center;
}

#profile #calender .left ul li h2{
	color: #666;
	font: normal normal normal 15px/1.2em Signika, sans-serif;
	margin: 5px 0 0 0;
}

#profile #calender .right{
	display: table;
	float: right;
	width: 60%;
}

#profile #calender .right #calenderTime{
	text-align: center;
}

#profile #calender .right #calenderTime h1{
	color: #666;
	font: normal normal normal 30px/1.2em Signika, sans-serif;
}

#profile #weather{
	display: table;
	width: 100%;
	background: #fff;
	min-height: 60px;
	padding: 10px 0 5px 0;
}

#profile #weather .icon{
	text-align: center;
}

#profile #weather .icon img{
	width: 100%;
	margin: 10px 0 0 0;
}

#profile #weather .temp{
	text-align: center;
}

#profile #weather .temp .big{
	color: #666;
	font: normal normal normal 60px/1.2em Signika, sans-serif;
	display: block;
	float: left;
}

#profile #weather .temp .deg{
	margin: 10px 0 0 0;
	color: #666;
	font: normal normal normal 20px/1.2em Signika, sans-serif;
	display: block;
	float: left;
}

#profile #weather .weather ul li{
	display: table-row;
	border: solid 1px red;
	height: 20px;
	width: 100%;
	color: #666;
	font: normal normal normal 20px/1.2em Signika, sans-serif;
}

#profile #weather .weather ul .city{
	font: normal normal normal 20px/1.2em Signika, sans-serif;
}

#profile #weather .weather ul .highlow{
	font: normal normal normal 15px/1.2em Signika, sans-serif;
}

#profile #news{
	display: table;
	width: 100%;
	background: #fff;
}

#profile #news .left{
	display: table;
	width: 30%;
	float: left;
	text-align: left;
}

#profile #news .left img{
	width: 80%;
	//height: 80px;
	background: #ccc;
}

#profile #news .right{
	display: table;
	width: 70%;
	float: right;
}

#profile #news .right h1{
	color: #666;
	font: normal normal normal 30px/1.2em Signika, sans-serif;
	margin: 0px;
	padding: 10px;
	border-bottom: solid 1px #ccc;
}

#profile #news .right p{
	color: #666;
	font: normal normal normal 15px/1.2em Signika, sans-serif;
	margin: 10px;
}

#profile #events{
	display: table;
	width: 100%;
	background: #eee;
	margin: 20px 0 0 0;
	//padding: 50px 0 0 0;
}

#profile #events h1{
	color: #666;
	font: normal normal normal 30px/1.2em Signika, sans-serif;
	padding-left: 5px;
}

#profile #events .status{
	display: table;
	width: 100%;
	margin: 0 0 30px 0;
	background: #fff;
}

#profile #events .status .left{
	display: table;
	width: 30%;
	float: left;
	//background: #ccc;
	max-width: 150px;
}

#profile #events .status .left li{
	margin: 0px;
	text-align: left;
}

#profile #events .status .left li img{
	//height: 100px;
	width: 100%;
	background: #393939;
}

#profile #events .status .left li h3{
	//color: #fff;
	font: normal normal normal 10px/1.2em Signika, sans-serif;
	//margin: 3px;
	background: #ccc;
}

#profile #events .status .right{
	display: table;
	width: 70%;
	float: right;
}

#profile #events .status .right li{
	margin: 0px;
	padding: 0px;
	//background: #ccc;
}

#profile #events .status .right li p{
	text-align: left;
	color: #666;
	//font: normal normal normal 15px/1.2em Signika, sans-serif;
	margin: 5px;
	font-size: 12px;
}

#profile #events .media{
	display: table;
	width: 100%;
	margin: 0 0 30px 0;
	background: #fff;
}

#profile #events .media li{
	margin: 0px;
	text-align: center;
}

#profile #events .media li .cont{
	width: 100%;
	min-height: 150px;
	//background: #404040;
	overflow: hidden;
}

#profile #events .media li .cont img{
	width: 50%;
}

#profile #events .media li .info p{
	color: #666;
	font: normal normal normal 15px/1.2em Signika, sans-serif;
	margin: 3px;
}

/****************************
 *
 * Messenger Search 
 * 
 * *************************/

#search .btn-send{
	padding: 15px 5px 15px 5px;
}

#editprofile .btn-send{
	//padding: 16px 5px 16px 5px;
	height: 20px;
}

#editprofile .input-edit{
	height: 20px;
}

/**************************
 * 
 * DASHBOARD 
 * 
 *************************/

#dashboard{
	width: 100%;
	padding: 0px;
}

#screen{
	display: table;
	min-height: 100px;
	//width: 100%;
	//border: solid 1px #aaa;
}

#screenBtn{
	display: table;
	position: fixed;
	bottom: 0;
	left: 0;
	//border: solid 1px #aaa;
	width: 100%;
}

#screenBtn .center{
	display: table;
	width: 100%;
	border: solid 1px #aaa;
}

#screenBtn .left{
	display: table;
	width: 75%;
	float: left;
}

#screenBtn .left input{
	height: 45px;
}

#screenBtn .right{
	display: table;
	width: 25%;
	padding: 2px 0 0 0;
	float: right;
}

/**************************
 *
 * Profile Settings
 * 
 * ***********************/

#profilesettings h1{
	color: #666;
	font: normal normal normal 30px/1.2em Signika, sans-serif;
	padding-left: 5px;
}
