{include subHeader.html}

<!-- Content Start now -->
<div class="content" style="margin: 0 0 100px 0; min-height: 400px; width: 100%;">
    
    <div class="row pannel">
        
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    
                    <div class="row" style="border: solid 1px #aaa;">
                        <div class="col-sm-6">
                            <h1>Create Gallery</h1>
                        </div>
                        <div class="col-sm-6" style="padding: 20px; text-align: right;">
                            <a href="{echo DIR_PATH}/admins/gallery" class="btn btn-success">Gallery</a>
                        </div>
                    </div>
                    
                </div>
            </div>
            
            <div class="panel panel-default">
                <div class="panel-body">
                    
                {if isset($file_error)}
                    <div class="alert alert-warning">
                        {echo $file_error}
                    </div>
                {/if}

                {if isset($success)}
                    <div class="alert alert-warning">
                      <strong>Success!</strong> Gallery created successfully.
                    </div>
                {/if}
                    
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Gallery Form</div>
                <div class="panel-body">

                    <div class="row">

                        <form method="post" enctype="multipart/form-data">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-6" style="padding: 0px;">
                                            <label for="name">Image Name:</label>
                                            <input type="text" name="name" />
                                            {echo Shared\Markup::errors($errors, "name")}
                                        </div>
                                        <div class="col-sm-6" style="padding: 0px;">
                                            <label for="category">Gallery Category:</label>
                                            <input type="text" name="category" />
                                            {echo Shared\Markup::errors($errors, "category")}
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <label for="description">Description</label>
                                    <textarea name="description" style="height: 100px; width: 100%"></textarea>
                                    {echo Shared\Markup::errors($errors, "description")}
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-6" style="padding: 0px">
                                            <label for="author">Author:</label>
                                            <input type="text" name="author" />
                                            {echo Shared\Markup::errors($errors, "author")}
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <label for="visibility">Gallery Visibility:</label>
                                    <select name="visibility">
                                        <option value="gallery">Gallery</option>
                                        <option value="search">Search</option>
                                    </select>
                                    {echo Shared\Markup::errors($errors, "visibility")}
                                </li>
                                <li class="list-group-item">
                                    <label for="image">Gallery Image:</label>
                                    <input type="file" name="image" />
                                    {echo Shared\Markup::errors($errors, "image")}
                                </li>
                                <li class="list-group-item">
                                    <div class="row" style="padding: 5px 0 5px 0; text-align: right;">
                                        <input type="submit" name="create" value="Save" class="btn btn-danger" />
                                    </div>
                                </li>
                            </ul>
                        </form>

                    </div>
                    
                </div>
            </div>
        </div>

        
    </div> <!-- Pannel End here -->


</div>  <!-- Content End here -->
        
{include subFooter.html}