{include subHeader.html}

<!-- Content Start now -->
<div class="content" style="margin: 0 0 100px 0; min-height: 400px; width: 100%;">
    
    <div class="row pannel">
        
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-sm-12" style="border: solid 1px #aaa">
                        <h1>Sales</h1>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Current Sales</div>
                <div class="panel-body">
                    <div class=" col-sm-12" style="border: solid 1px #aaa;">

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Product:</th>
                                    <th>Qty:</th>
                                    <th>Amount:</th>
                                    <th>Date:</th>
                                    <th>Status:</th>
                                    <th>Action:</th>
                                </tr>
                            </thead>
                            <tbody>
                                {if isset($sales)}
                                {foreach $sale in $sales}
                                <tr>
                                    <td>{echo $sale->product}</td>
                                    <td>{echo $sale->qty}</td>
                                    <td>{echo $sale->amount}</td>
                                    <td>{echo $sale->created}</td>
                                    <td>{echo $sale->status}</td>
                                    <td>
                                        <a href="{echo DIR_PATH}/admins/deleteSale/{echo $sale->id}" class="btn btn-danger">Delete</a>
                                    </td>
                                </tr>
                                {/foreach}
                                {/if}
                                {else}
                                <tr>
                                    <td>No Data</td>
                                </tr>
                                {/else}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            
            <div class="panel panel-default">
                <div class="panel-heading">Deleted Sales</div>
                <div class="panel-body">
                    <div class=" col-sm-12" style="border: solid 1px #aaa;">

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Product:</th>
                                    <th>Qty:</th>
                                    <th>Amount:</th>
                                    <th>Date:</th>
                                    <th>Status:</th>
                                    <th>Action:</th>
                                </tr>
                            </thead>
                            <tbody>
                                {if isset($deletedSales)}
                                {foreach $sale in $deletedSales}
                                <tr>
                                    <td>{echo $sale->product}</td>
                                    <td>{echo $sale->qty}</td>
                                    <td>{echo $sale->amount}</td>
                                    <td>{echo $sale->created}</td>
                                    <td>{echo $sale->status}</td>
                                    <td>
                                        <a href="{echo DIR_PATH}/admins/undeleteSale/{echo $sale->id}" class="btn btn-danger">Undelete</a>
                                    </td>
                                </tr>
                                {/foreach}
                                {/if}
                                {else}
                                <tr>
                                    <td>No Data</td>
                                </tr>
                                {/else}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>


</div>  <!-- Content End here -->
        
{include subFooter.html}